body {
    background-image: url(https://img.antaranews.com/cache/730x487/2021/07/19/lamborghini-aventador-lp-780-4-ultimae.jpg.webp) ;
}

.container {
    width: 600px;
    height: 1200px;
    border: 1px;
    margin: auto;
    padding: 5px;
    background-color: azure;
}
.header {
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    margin-right: 5px;
    margin-left: 5px;
}

p {
    margin-right: 5px;
    margin-left: 5px;
}

.image1 {
    height: 100px;
    width: 100px;
    float: left;
    padding: 10px;
}


.paragraf , .paragraf{
    width: 50%;
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    float: left;

}




img {
    margin-top: 10px;
    height: 200px;
    width: 405px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top:  solid;
    border-top-color: blueviolet;
    border-bottom: solid;
    border-bottom-color: brown;
}

div .Copyright {
    text-align: center;
    padding: 0%;
    clear: both;
}

a {
    padding: 5px;
    color: brown;
    text-decoration: none;
} 